.sidecard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidecard-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #1efe00;
}

.sidecard-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #2B2A3C;
  padding: 2rem 1rem 1rem;
  border-radius: 4px;
}

.sidecard-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidecard-inner {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding-bottom: 1rem;
}

.sidecard-tooltip {
  position: absolute;
  z-index: 100000;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.sidecard-tooltip.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.sidecard-tooltip.hidden {
  opacity: 0;
}

.sidecard-tooltip.translate-down {
  transform: translateY(50px);
}

.sidecard-tooltip.translate-up {
  transform: translateY(-50px);
}

.sidecard-image {
  width: 60px;
  height: 75px;
  border-radius: 6px;
  object-fit: cover;
  flex-shrink: 0;
  cursor: pointer;
}

.sidecard-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  gap: 0.5rem;
}

.sidecard-link {
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: color 0.2s ease-out;
  color: white;
}

.sidecard-link:hover {
  color: #1efe00;
}

.sidecard-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}

.sidecard-tag {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
}

.sidecard-tag-sub {
  background: #B0E3AF;
  color: black;
}

.sidecard-tag-dub {
  background: #B9E7FF;
  color: black;
  padding: 2px 8px;
}

.tag-icon {
  font-size: 12px;
}

.sidecard-showtype {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dot {
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.sidecard-toggle {
  width: 100%;
  background: #555462d3;
  padding: 0.75rem;
  margin-top: 1rem;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.2s ease-out;
  color: white;
}

.sidecard-toggle:hover {
  background: #555462;
}
