@keyframes glow {
  0% {
    box-shadow: 0 0 7px #1efe00;
  }
  50% {
    box-shadow: 0 0 20px #1efe00;
  }
  100% {
    box-shadow: 0 0 7px #1efe00;
  }
}

.glow-animation {
  animation: glow 1.5s infinite;
}
