.splashscreen {
  overflow: hidden;
}
.splashitem {
  margin: 0px 6px 6px 0px;
  display: block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  color: #fff;
  cursor: pointer;
}
.splashoverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(43, 42, 60, 1) 0%,
    rgba(43, 42, 60, 0) 100%
  );
  z-index: 30;
}
.logo {
  max-height: 40px !important;
}
/* Navbar Logo Container */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Spacing between the icon and text */
}

/* Crescent Moon Icon */
.logo-icon {
  width: 40px;
  height: 40px;
  background: linear-gradient(145deg, #ffffff, #1efe00);
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 10px rgba(51, 254, 0, 0.7);
}

.logo-icon::after {
  content: "";
  width: 30px;
  height: 30px;
  background: #1a1a1a;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 7px;
}

/* Logo Text */
.logo-text {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(90deg, #63fe4f, #1efe00, #e91e63, #ffeb3b);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 4s infinite;
  white-space: nowrap; /* Prevents text wrapping */
}

.adCluster {
  display: flex;
}

.adClusterMain {
  display: flex; 
}

@media screen and (max-width: 1000px) {
  .adCluster {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .adClusterMain {
    display: none;
  }
}
