.infoContainer {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 75%) minmax(0, 25%);
  height: fit-content;
  width: 100%;
  overflow: hidden;
  color: white;
  margin-top: 64px;
}

.backgroundPoster {
  position: absolute !important;
  inset: 0 !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  filter: grayscale(100%) blur(5px) !important;
  z-index: -900 !important;
}

/* styles.css */
.animeInfoBox {
  display: flex;
  align-items: flex-start;
  z-index: 10;
  padding: 70px 56px; /* px-14 = 56px, py-[70px] */
  background-color: rgba(37, 36, 52, 0.5); /* #252434 with bg-opacity-70 */
  column-gap: 32px; /* gap-x-8 */

  /* Responsive styles */
  @media (max-width: 1024px) {
    padding: 40px 24px; /* py-10 = 40px, px-6 = 24px */
    column-gap: 16px; /* gap-x-4 */
  }

  @media (max-width: 575px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.mainLayoutGrid {
  width: 100%;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  display: grid;
  grid-template-columns: minmax(0, 75%) minmax(0, 25%);
  column-gap: 1.5rem; /* gap-x-6 */
}

@media (max-width: 1200px) {
  .mainLayoutGrid {
    display: flex;
    flex-direction: column;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
  }
}

/* Responsive for <= 768px (max-md) */
@media (max-width: 768px) {
  .infoContainer {
    margin-top: 50px;
  }
}
