.infoContainer {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 75%) minmax(0, 25%);
  height: fit-content;
  width: 100%;
  overflow: hidden;
  color: white;
  margin-top: 70px;
  z-index: 10; /* Ensures it's above the body background */
}

.backgroundPoster {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%; 
  filter: grayscale(100%) blur(16px);
  z-index: -1; /* Keeps it behind the content */
}

.animeInfoBox { 
  display: flex;
  align-items: flex-start;
  z-index: 20; /* Keeps it above the blurred background */
  padding: 70px 56px;
  background-color: rgba(37, 36, 52, 0.7);
  column-gap: 32px;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .animeInfoBox {
    padding: 40px 24px; /* py-10 px-6 */
    column-gap: 16px; /* gap-x-4 */
  }
}

@media (max-width: 575px) {
  .animeInfoBox {
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}

@media (max-width: 429px) {
  .animeInfoBox {
    padding: 40px 10px;
  }
}

.mainLayoutGrid {
  width: 100%;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  display: grid;
  grid-template-columns: minmax(0, 75%) minmax(0, 25%);
  column-gap: 1.5rem; /* gap-x-6 */
}

@media (max-width: 1200px) {
  .mainLayoutGrid {
    display: flex;
    flex-direction: column;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .infoContainer {
    margin-top: 70px;
  }
}

.adCluster {
  display: flex;
}

.adClusterMain {
  display: flex;
}

@media screen and (max-width: 1000px) {
  .adCluster {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .adClusterMain {
    display: none;
  }
}
