/* styles/buttons.css */
.custom-button {
  font-size: 1rem; /* text-md */
  background-color: #373646;
  padding: 0.25rem 1rem; /* py-1 px-4 */
  border-radius: 0.375rem; /* rounded-md */
  font-weight: bold;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #00f2fe;
  color: black;
}

.custom-button.active {
  background-color: #00f2fe;
  color: black;
}
.adCluster {
  display: flex;
  flex-wrap: wrap;
}
.adClusterChild {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
  .adClusterChild {
    display: none;
  }
}
