.category-layout {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: minmax(0, 75%) minmax(0, 25%);
  column-gap: 1.5rem;
}

@media (max-width: 1200px) {
  .category-layout {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem; /* 10 = 2.5rem */
  }
}

.adCluster {
  display: flex;
}

.adClusterMain {
  display: flex;
}

@media screen and (max-width: 1000px) {
  .adCluster {
    display: none;
  } 
}

@media screen and (max-width: 700px) {
  .adClusterMain {
    display: none;
  }
}