.layoutWrapper {
  position: relative;
  z-index: 10;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: minmax(0, 75%) minmax(0, 25%);
  width: 100%;
  height: 100%;
  margin-top: 128px;
}

.contentWrapper {
  width: 100%;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  display: grid;
  grid-template-columns: minmax(0, 75%) minmax(0, 25%);
  column-gap: 1.5rem; /* gap-x-6 */
  flex-direction: column;
}

.backgroundImage {
  position: absolute !important;
  inset: 0 !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  filter: grayscale(100%) blur(5px) !important;
  z-index: -900 !important;
}

.backgroundOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(37, 36, 52, 0.5);
  z-index: -800;
}


@media (max-width: 1400px) {
  .layoutWrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .layoutWrapper {
    margin-top: 64px;
  }
  .contentWrapper {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .layoutWrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .layoutWrapper {
    margin-top: 50px;
  }
}
