.award-bg {
  width: 100%; /* full width */
  padding-bottom: 40%; /* aspect ratio 2.5:1 */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 0; /* behind content */
}


.award-bg .award-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* Gradient overlay + image */
  background-image:
    linear-gradient(to top, #201f31, transparent),
    url('https://hianime.pe/images/community/cover.jpg');
  
  background-size: cover;
  background-position: center;
  
  filter: blur(10px);
  opacity: 0.3;
}
